<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Projet_Final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servlet.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>servlet.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>servlet.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>servlet.Contact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>servlet.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Details_article</servlet-name>
		<servlet-class>servlet.Details_article</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Details_article</servlet-name>
		<url-pattern>/details_article</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Panier</servlet-name>
		<servlet-class>servlet.Panier</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Panier</servlet-name>
		<url-pattern>/panier</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Compte</servlet-name>
		<servlet-class>servlet.Compte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Compte</servlet-name>
		<url-pattern>/compte</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

</web-app>